[Unit]
Description=PC Cartridge Launcher for %k
After=dev-%k.device
Requires=dev-%k.device

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cartridge-launch-wrapper %k
