[Desktop Entry]

Type=Application

Name=Hidamari

Comment=Video wallpaper for Linux

Exec=flatpak run io.github.jeffshee.Hidamari

Icon=io.github.jeffshee.Hidamari

Terminal=false

X-GNOME-Autostart-enabled=true
